/* styles.css ou le fichier CSS du composant */
.active-color {
    background-color: #007bff; /* Couleur bleue */
    color: white; /* Texte en blanc */
  }

  .colored-div {
    background-color: blue;
    color: white;
  }
  
  div {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }