/* .layout-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "footer footer";
  height: 100vh;
}

.layout-navbar {
  grid-area: navbar;
  background-color: #343a40;
  padding: 0 20px;
}

.layout-sidebar {
  grid-area: sidebar;
  background-color: #f8f9fa;
  padding: 1rem;
}

.layout-main {
  grid-area: main;
  padding: 2rem;
  background-color: #ffffff;
}

.layout-footer {
  grid-area: footer;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
}

.custom-menubar {
  background-color: transparent;
  border: none;
  color: white;
}

.layout-footer p {
  margin: 0;
}


app-menu {
  width: 250px;
}

app-menu .ui-panelmenu-header-link {
  color: #343a40;
} */
