  <div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="assets/images/logo/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"> -->
        <img src="assets/images/logo/logo.png" alt="logo">
        <span>CONCERTATION</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <i class="pi pi-envelope p-text-secondary" pBadge style="font-size: 2rem" value="2"></i>
        <p-divider layout="vertical" />
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                    shape="square" size="large" (click)="avatarMenu.toggle($event)" />

        <p-menu #avatarMenu [model]="items" [popup]="true" styleClass="w-full md:w-15rem">
        <ng-template pTemplate="item" let-item>
            <ng-container *ngIf="item.routerLink; else logout">
           <a pRipple class="flex align-items-center p-menuitem-link" [routerLink]="item.routerLink">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
                    {{ item.shortcut }}
                </span>
            </a>
        </ng-container>
         </ng-template>
         <ng-template #logout>
            <a pRipple class="flex align-items-center p-menuitem-link">
                <span class="pi pi-sign-out"></span>
                <span class="ml-2">LogOut</span>
            </a>
        </ng-template> 
        <ng-template pTemplate="end">
            <p-button pRipple class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" shape="circle" />
                <span class="inline-flex flex-column">
                    <span class="font-bold" *ngIf="user()">{{ user()?.firstName }} {{ user()?.lastName }} </span>
                    <span class="text-sm">Admin</span>
                </span>
            </p-button>
        </ng-template> 
    </p-menu>
    </div>
</div>

    <p-toast />
    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                    <i class="pi pi-question text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-4">
                    {{ message.header }}
                </span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex align-items-center gap-2 mt-4">
                    <button 
                        pButton 
                        label="Deconecter" 
                        (click)="cd.accept()" 
                        class="w-8rem">
                    </button>
                    <button 
                        pButton 
                        label="Annuler"
                        (click)="cd.reject()" 
                        class="p-button-outlined w-8rem ">
                    </button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
    <p-button (onClick)="confirm()" icon="pi pi-check" label="Confirm" />