<form [formGroup]="loginFormGroup" (ngSubmit)="login()">

<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">                 -->
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/images/login/avatar.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome, Isabel!</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <div>
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" formControlName="email" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                    <p-password id="password1" formControlName="password" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
                    </div>
                    <button pButton pRipple label="Sign In" class="w-full p-3 text-xl"></button>
                </div>
            </div>
        </div>
    </div>
</div>

</form>


<!-- <input type="text" pInputText [(ngModel)]="value" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
</head>
<body>
    <div class="container">
        <div class="sign_up form_container">
            <form>
            <h1>Create Account</h1>
            <div class="icons">
               <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
               <a href=""><i class="fa-brands fa-facebook"></i></a>
               <a href=""><i class="fa-brands fa-github"></i></a>
               <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <p>or use your email for registration</p>
            <input class="name" name="name" [(ngModel)]="name" type="text" placeholder="Name">
            <p class="namefield text"><i class="fa-solid fa-circle-exclamation"></i> Please enter a valid username</p>
            <input class="email" name="email" [(ngModel)]="email" type="email" placeholder="Email">
            <p class="emailfield text"><i class="fa-solid fa-circle-exclamation"></i> Please enter a valid email-address</p>
            <div class="passdiv">
                <input class="pass" name="password" [(ngModel)]="password" type="password" placeholder="Password"><i class="fa-solid fa-lock show-hide"></i>
            </div>
            <p class="passfield text"><i class="fa-solid fa-circle-exclamation"></i> Please enter atleast 6-12 character longer with numbers, symbol, small and capital letter.</p>
            <button>SIGN UP</button>
            </form>
        </div>
        <div class="sign_in form_container">
            <form>
                <h1>Sign In</h1>
                <div class="icons">
                <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <p>or use your email password</p>
                <input class="email1" name="email" [(ngModel)]="email" type="email" placeholder="Email">
                <p class="emailfield1 text"><i class="fa-solid fa-circle-exclamation"></i> Please enter a valid email-address</p>
                <div class="passdiv">
                <input class="pass1" name="password" [(ngModel)]="password" type="password" placeholder="Password"><i class="fa-solid fa-lock show-hide"></i>
                </div>
                <p class="passfield1 text"><i class="fa-solid fa-circle-exclamation"></i> Please enter a valid password</p>
                <p class="forgetpass">Forget Your Password?</p>
                <button (click)="login()">SIGN IN</button>
            </form>
        </div>
        <div class="toggle_container">
            <div class="toggle">
                <div class="toggle_panel toggle_left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">SIGN IN</button>
                </div>
                <div class="toggle_panel toggle_right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of the site features</p>
                <button class="hidden" id="register">SIGN UP</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./script.js"></script>    
</body>
</html> -->