<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12 lg:col-span-6 xl:col-span-4" *ngIf="user()">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="font-semibold text-xl">Bienvenue {{ user()?.firstName }} {{ user()?.lastName }}</span>
          <div class="text-900 text-primary font-medium text-xl">Total Balance {{ balanceTotal }} FCFA</div>
        </div>
        <div class="flex items-center justify-center bg-primary dark:bg-primary rounded-border"
             style="width: 2.5rem; height: 2.5rem">
          <i class="pi pi-users text-white !text-xl"></i>
        </div>
      </div>
      <div class="flex flex-wrap gap-4">
        <p-button (onClick)="goToTransaction('transfer')" label="Transfert" severity="info" raised/>
        <p-button (onClick)="goToTransaction('deposit')" label="Depôt" severity="success" raised/>
        <p-button (onClick)="goToTransaction('withdrawal')" label="Retrait" severity="danger" raised/>
      </div>
    </div>
  </div>

  <div class="col-span-12 lg:col-span-6 xl:col-span-4" *ngFor="let account of accounts()"
       (click)="navigateToAccount()">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="font-semibold text-xl" *ngIf="account.accountType === 1">Compte Poche</span>
          <span class="font-medium text-xl" *ngIf="account.accountType === 2">Compte Épargne</span>
          <div class="text-primary font-medium text-xl">{{ account.balance }} FCFA</div>
        </div>
        <div class="flex items-center justify-center bg-primary dark:bg-primary rounded-border"
             style="width: 2.5rem; height: 2.5rem">
          <i class="pi pi-wallet text-white !text-xl" *ngIf="account.accountType === 1"></i>
          <i class="pi pi-building-columns text-white !text-xl" *ngIf="account.accountType === 2"></i>
        </div>
      </div>
      <span class="font-semibold text-xl">Compte {{ account.accountNumber }}</span>
    </div>
  </div>

    <div class="col-span-12 xl:col-span-6" *ngFor="let account of accounts()">
        <app-operation [account]="account" />
    </div>
</div>
